<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrSqV7ifdWb7nS50uhpVSKjfHzgW3hpdc</string>
	<key>GCM_SENDER_ID</key>
	<string>826328200707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodProject</string>
	<key>PROJECT_ID</key>
	<string>food-app-b08cd</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-b08cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826328200707:ios:6e918513cbc4b7e2eb8036</string>
</dict>
</plist>